<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.sapota.unload">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="in.sapota.main.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="in.sapota.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- User Phone Auth Activity -->
        <activity
            android:name="in.sapota.activity.UserPhoneAuthActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_AUTH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- OTP Activity -->
        <activity
            android:name="in.sapota.activity.OtpActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.OTP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- User Profile Activity -->
        <activity
            android:name="in.sapota.activity.AddVehicleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.USER_PROFILE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- User Mode Activity -->
        <activity
            android:name="in.sapota.activity.UserModeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.USER_MODE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Truck List Activity -->
        <activity
            android:name="in.sapota.activity.VehicleListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.TRUCK_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- About Activity -->
        <activity
            android:name="in.sapota.activity.AboutActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Status Activity -->
        <activity
            android:name="in.sapota.activity.StatusActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.STATUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".TrackingService" />
        <service android:name=".TrackingService$HideNotificationService" />

        <receiver android:name=".AutostartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>